* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;

  width: 100vw;
  height: 100vh;

  background-color: #ababab;
  font-family: "Bitter", serif;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;

  padding: 40px;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.color {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;

  margin: 20px 0;
}

.color > input {
  margin: 16px 0;
}

/* Media query min 768px */
@media (min-width: 768px) {
  .container {
    width: 40vw;
    height: 45vh;
    font-size: 2rem;
  }

  .color {
    margin: 32px 0;
  }
}

